@import url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css);

/* Página de Inicio */

body{
    
    font-family: 'Gotham';
}
#img_btn1{
    margin-top: 100px !important;
    width: 250px;
}
#img_logo{
    margin-top: 50px !important;
}
#botones{
    margin-top: 20px !important;
}
.btnIn{
    background-color: #00ADB5 !important;
    color: black !important;
    font-family: 'Gotham';
    font-weight: 500 !important;
}
.btnRe{
    background-color: #00ADB5 !important;
    color: black !important;
    font-family: 'Gotham';
    font-weight: 500 !important;
}
.btnCond{
    background-color: #00ADB5 !important;
    color: black !important;
    font-family: 'Gotham';
    font-weight: 500 !important;
}

/* Página Iniciar Sesión */

.btnLogin{
    background-color: #00ADB5 !important ;
    color: black !important;
    font-weight: 500 !important;
    font-family: 'Gotham';
}
#btnLogin1{
    margin-top: 20px;
}
#input1{
    margin-top: 50px;
}
#tit_L{
    position: relative;
    top: 30px;
    font-family: 'Gotham';
    color: #393E46!important;
    font-weight: 600 !important;
}
#txtReset{
    text-align: center;
}

/* Página Viaje en camino*/

#listas{
    font-family: 'Gotham';
    font-weight: 600 !important;
}

