/* CSS mapa */

@media (max-width: 365px) {
  .mapa {
    padding: 0;
    display: flex;
    justify-content: center;
  }
}

/* Container */

div.contenedor {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  max-height: 12vh;
}

/* Footer css*/
footer.global-footer {
  width: 100%;
  max-height: 8vh;
}

@media (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
